<div id="printSectionId3" class="section3">
  <table style="border: solid 1px black; border-collapse: collapse;">
    <tr>
      {{dateGeneratedListe}}
    </tr>
    <tr style="border: solid 1px black;">
      <th style="border: solid 1px black; border-collapse: collapse;">TN</th>
      <th style="border: solid 1px black; border-collapse: collapse;">ZN</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Anr</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Abr</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Pers</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Name 1</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Name Frau 1</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Nation 1</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Info 1</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Anzahl Aufent. 1</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Letzter Aufent. 1</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Name 2</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Name Frau 2</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Nation 2</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Info 2</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Anzahl Aufent. 2</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Letzter Aufent. 2</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Name 3</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Name Frau 3</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Nation 3</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Info 3</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Anzahl Aufent. 3</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Letzter Aufent. 3</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Name 4</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Name Frau 4</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Nation 4</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Info 4</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Anzahl Aufent. 4</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Letzter Aufent. 4</th>
    </tr>
    <div *ngFor="let table of tables">
      <tr style="border: solid 1px black;">
        <div *ngIf="table.name1Value">
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.number}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.zimmernummerValue}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.anreiseValue}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.abreiseValue}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.personenAnzahlValue}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.name1Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.nameFrau1Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.nation1Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.pinfo1Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.aufenthalte1Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.letzterAufenthalt1Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.name2Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.nameFrau2Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.nation2Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.pinfo2Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.aufenthalte2Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.letzterAufenthalt2Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.name3Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.nameFrau3Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.nation3Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.pinfo3Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.aufenthalte3Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.letzterAufenthalt3Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.name4Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.nameFrau4Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.nation4Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.pinfo4Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.aufenthalte4Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.letzterAufenthalt4Value}}</td>
        </div>
      </tr>
    </div>
  </table>
</div>
<div id="printSectionId1" class="section3">
  <div *ngIf="showRestaurantBool">
  <table style="border: solid 1px black; border-collapse: collapse;">
    <tr>
      {{dateGeneratedListe}}
    </tr>
    <tr>
      Restaurant
    </tr>
      <tr style="border: solid 1px black;">
        <th style="border: solid 1px black; border-collapse: collapse;">Name 1</th>
        <th style="border: solid 1px black; border-collapse: collapse;">TN</th>
        <th style="border: solid 1px black; border-collapse: collapse;">ZN</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Anr</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Abr</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Pers</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Name Frau 1</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Nation 1</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Info 1</th>
        <th style="border: solid 1px black; border-collapse: collapse;"># Aufent. 1</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Letzt. Aufent. 1</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Name 2</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Name Frau 2</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Nation 2</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Info 2</th>
        <th style="border: solid 1px black; border-collapse: collapse;"># Aufent. 2</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Letzter Aufent. 2</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Name 3</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Name Frau 3</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Nation 3</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Info 3</th>
        <th style="border: solid 1px black; border-collapse: collapse;"># Aufent. 3</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Letzter Aufent. 3</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Name 4</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Name Frau 4</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Nation 4</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Info 4</th>
        <th style="border: solid 1px black; border-collapse: collapse;"># Aufent. 4</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Letzter Aufent. 4</th>
      </tr>
      <div *ngFor="let table of tablesRestaurant">
        <div *ngFor="let group of table.groups">
          <tr style="border: solid 1px black;">
            <div *ngIf="group.name1Value">
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.name1Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{table.number}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.zimmernummerValue}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.anreiseValue}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.abreiseValue}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.personenAnzahlValue}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.nameFrau1Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.nation1Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.pinfo1Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.aufenthalte1Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.letzterAufenthalt1Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.name2Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.nameFrau2Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.nation2Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.pinfo2Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.aufenthalte2Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.letzterAufenthalt2Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.name3Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.nameFrau3Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.nation3Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.pinfo3Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.aufenthalte3Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.letzterAufenthalt3Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.name4Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.nameFrau4Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.nation4Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.pinfo4Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.aufenthalte4Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.letzterAufenthalt4Value}}</td>
            </div>
            <div *ngIf="group.newInfoText">
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.newInfoName}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.newInfoTableNumber}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.newInfoRoomNumber}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.newInfoText}} {{group.newInfoDate}} {{table.newInfoEmployee}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
            </div>
          </tr>
        </div>
      </div>
    </table>
  </div>
</div>
<div id="printSectionId2" class="section2">
  <div class="row" style=" border-left: 5px solid #0a7a74; border-right: 5px solid #0a7a74;">
    <div *ngIf="showRestaurantBool">
      <div *ngFor="let tableRestaurant of tablesRestaurant; let j = index;">
        <div dropdownToggle type="button" class="t{{tableRestaurant.number}} table-item" [ngStyle]="{'top': tableRestaurant.topValue + 'px', 'left': tableRestaurant.leftValue + 'px', 'background-color': + tableRestaurant.bgColor, 'height': + tableRestaurant.height + 'px', 'width': + tableRestaurant.width + 'px', 'border': + tableRestaurant.border}" [style.border]="getStyle(tablesRestaurant[j].groups)" dropdown>
          <div *ngIf="tablesRestaurant[j] !== tablesRestaurant[j+1]">
            <div *ngFor="let group of tableRestaurant.groups">
              <div *ngIf="group.name1Value">
                {{group.name1Value}}{{erwRestaurant[j]}}/{{ki1Restaurant[j]}}/{{ki2Restaurant[j]}}/{{ki3Restaurant[j]}}/{{ki4Restaurant[j]}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="buffet"></div>
      <div class="wall1"></div>
      <div class="wall2"></div>
      <div class="wall3"></div>
      <div class="wall4"></div>
    </div>
  </div>
</div>


