<div id="printSectionId3" class="section3">
  <table style="border: solid 1px black; border-collapse: collapse;">
    <tr>
      {{dateGeneratedListe}}
    </tr>
    <tr style="border: solid 1px black;">
      <th style="border: solid 1px black; border-collapse: collapse;">TN</th>
      <th style="border: solid 1px black; border-collapse: collapse;">ZN</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Anr</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Abr</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Pers</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Name 1</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Info 1</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Info 2</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Info 3</th>
      <th style="border: solid 1px black; border-collapse: collapse;">Kategorie</th>
    </tr>
    <div *ngFor="let table of tables">
      <tr style="border: solid 1px black;">
        <div *ngIf="table.name1Value">
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.number}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.zimmernummerValue}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.anreiseValue}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.abreiseValue}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.personenAnzahlValue}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.name1Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.pinfo1Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.pinfo2Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.pinfo3Value}}</td>
          <td style="border: solid 1px black; border-collapse: collapse;">{{table.kategorieValue}}</td>
        </div>
      </tr>
    </div>
  </table>
</div>
<div id="printSectionId1" class="section3">
  <div *ngIf="showRestaurantBool">
  <table style="border: solid 1px black; border-collapse: collapse;">
    <tr>
      {{dateGeneratedListe}}
    </tr>
    <tr>
      <p>Die Zahlen getrennt durch / in der Pers Spalte stehen für folgende Werte in dieser Reihenfolge: Anzahl Erwachsene / Anzahl Kinder(K3) 8-11 Jahre / Anzahl Kinder(K4) 12-16 Jahre<br>
      <p>Anzahl der Tische besetzt: {{uniqueTables.length}}<br>
        Anzahl der Personen: {{sumErwRestaurant}} / {{sumKi1Restaurant}} / {{sumKi2Restaurant}}<br>
        Anzahl der Halbpensionen: {{sumErwRestaurantHP}} / {{sumKi1RestaurantHP}} / {{sumKi2RestaurantHP}}<br>
        Anzahl der Gäste mit Frühstück: {{sumErwRestaurantF}} / {{sumKi1RestaurantF}} / {{sumKi2RestaurantF}}</p>
    </tr>
    <tr>
      Restaurant
    </tr>
      <tr style="border: solid 1px black;">
        <th style="border: solid 1px black; border-collapse: collapse;">Name 1</th>
        <th style="border: solid 1px black; border-collapse: collapse;">TN</th>
        <th style="border: solid 1px black; border-collapse: collapse;">ZN</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Anr</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Abr</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Pers</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Info 1</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Info 2</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Info 3</th>
        <th style="border: solid 1px black; border-collapse: collapse;">Kategorie</th>
      </tr>
      <div *ngFor="let table of tablesRestaurant">
        <div *ngFor="let group of table.groups">
          <tr style="border: solid 1px black;">
            <div *ngIf="group.name1Value">
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.name1Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{table.number}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.zimmernummerValue}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.anreiseValue}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.abreiseValue}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.personenAnzahlValue}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.pinfo1Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.pinfo2Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.pinfo3Value}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.kategorieValue}}</td>
            </div>
            <div *ngIf="group.newInfoText">
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.newInfoName}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.newInfoTableNumber}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.newInfoRoomNumber}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;">{{group.newInfoText}} {{group.newInfoDate}} {{table.newInfoEmployee}}</td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
              <td style="border: solid 1px black; border-collapse: collapse;"></td>
            </div>
          </tr>
        </div>
      </div>
    </table>
  </div>
</div>
<div id="printSectionId2" class="section2">
  <p>Die Zahlen getrennt durch / stehen für folgende Werte in dieser Reihenfolge: Anzahl Erwachsene / Anzahl Kinder(K3) 8-11 Jahre / Anzahl Kinder(K4) 12-16 Jahre<br>
  <b style="color: #0a7a74; font-size: 30pt">•</b> Anreisen      <b style="color: grey; font-size: 30pt">•</b> Tisch ist Besetzt       <b style="color: red; font-size: 30pt">•</b> Sonderinformationen       <b style="color: beige; font-size: 30pt">•</b> Tisch ist frei</p>
  <div class="row" style=" border-left: 5px solid #0a7a74; border-right: 5px solid #0a7a74;">
    <div *ngIf="showRestaurantBool">
      <div *ngFor="let tableRestaurant of tablesRestaurant; let j = index;">
        <div dropdownToggle type="button" class="t{{tableRestaurant.number}} table-item" [ngStyle]="{'top': tableRestaurant.topValue + 'px', 'left': tableRestaurant.leftValue + 'px', 'background-color': + tableRestaurant.bgColor, 'height': + tableRestaurant.height + 'px', 'width': + tableRestaurant.width + 'px', 'border': + tableRestaurant.border}" [style.border]="getStyle(tablesRestaurant[j].groups)" dropdown>
          <div *ngIf="tablesRestaurant[j] !== tablesRestaurant[j+1]">
            {{erwRestaurant[j]}}/{{ki1Restaurant[j]}}/{{ki2Restaurant[j]}}
            <div *ngFor="let group of tableRestaurant.groups">
              <div *ngIf="group.name1Value">
                {{group.name1Value}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p style="position: relative; top: 850px; left: 20px">Anzahl der Tische besetzt: {{uniqueTables.length}}<br>
    Anzahl der Personen: {{sumErwRestaurant}} / {{sumKi1Restaurant}} / {{sumKi2Restaurant}}<br>
    Anzahl der Halbpensionen: {{sumErwRestaurantHP}} / {{sumKi1RestaurantHP}} / {{sumKi2RestaurantHP}}<br>
    Anzahl der Gäste mit Frühstück: {{sumErwRestaurantF}} / {{sumKi1RestaurantF}} / {{sumKi2RestaurantF}}</p>
</div>


