<div *ngIf="showTablePlanBool">
  <div class="col-xs-12 printTwo">
    <div class="row" style=" border-left: 5px solid #0a7a74; border-right: 5px solid #0a7a74;">
      <div *ngIf="showRestaurantBool">
        <div *ngFor="let tableRestaurant of tablesRestaurant; let j = index;">
          <div dropdownToggle type="button" class="t{{tableRestaurant.number}} table-item" [ngStyle]="{'top': tableRestaurant.topValue + 'px', 'left': tableRestaurant.leftValue + 'px', 'background-color': + tableRestaurant.bgColor, 'height': + tableRestaurant.height + 'px', 'width': + tableRestaurant.width + 'px', 'border': + tableRestaurant.border}" [style.border]="getStyle(tablesRestaurant[j].groups)" dropdown>
            <div *ngIf="tablesRestaurant[j] !== tablesRestaurant[j+1]">
              <p><b>{{tableRestaurant.number}} <br>{{erwRestaurant[j]}}/{{ki1Restaurant[j]}}/{{ki2Restaurant[j]}}/{{ki3Restaurant[j]}}/{{ki4Restaurant[j]}}</b></p>
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div dropdownToggle type="button" style="color: white; padding: 10px;" (mouseenter)="mouseEnterMoveTableButton()"  (mouseleave)="mouseLeaveMoveTableButton()" [ngStyle]="{'background-color': '#' + buttonMoveTable}" (click)="none($event)" class="dropdownMoveTable" dropdown><b>Tisch verschieben</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; margin: 0px;  padding: 0px; overflow: auto">
                  <li class="dropdown-item" (click)="addTable(tableRestaurant, j)" style="color: black; padding: 10px;" (mouseenter)="mouseEnterHinzufuegenButton()"  (mouseleave)="mouseLeaveHinzufuegenButton()" [ngStyle]="{'background-color': '#' + buttonHinzufuegen}" ><b>Tisch hinzufügen</b></li>
                  <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0; "></li>
                  <li class="dropdown-item" (click)="removeTable(tableRestaurant, j)" (mouseenter)="mouseEnterEntfernenButton()"  (mouseleave)="mouseLeaveEntfernenButton()" [ngStyle]="{'background-color': '#' + buttonEntfernen}" style="color: black; padding: 10px"><b>Tisch entfernen</b></li>
                </div>
              </div>
              <li class="divider dropdown-divider" style="padding: 0 0 0 0; margin: 0;"></li>
              <div dropdownToggle type="button" (click)="none($event)" style="padding: 10px; " (mouseenter)="mouseEnterInfoButton()"  (mouseleave)="mouseLeaveInfoButton()" [ngStyle]="{'background-color': '#' + buttonInfo}" class="dropdownShowinfo"  class="dropdownShowinfo" dropdown><b>Infos anzeigen</b>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 240px; padding: 10px; overflow: auto">
                  <div *ngFor="let group of tableRestaurant.groups">
                    <div *ngIf="group.name1Value">
                      <div class="dropdown-item" [style.border]="getStyleInfo(group)">
                        <b> Zimmernummer:</b> {{group.zimmernummerValue}}<br>
                        <b> Anreise Datum:</b> {{group.anreiseValue}}<br>
                        <b> Abreise Datum:</b> {{group.abreiseValue}}<br>
                        <b> Personenanzahl:</b> {{group.personenAnzahlValue}}<br>
                        <b> Name 1:</b> {{group.name1Value}}<br>
                        <b> Name Frau 1:</b> {{group.nameFrau1Value}}<br>
                        <b> Nation 1:</b> {{group.nation1Value}}<br>
                        <b> Info 1:</b> {{group.pinfo1Value}}<br>
                        <b> Anzahl der Aufenthalte 1:</b> {{group.aufenthalte1Value}}<br>
                        <b> Letzter Aufenthalt 1:</b> {{group.letzterAufenthalt1Value}}<br>
                        <b> Name 2:</b> {{group.name2Value}}<br>
                        <b> Name Frau 2:</b> {{group.nameFrau2Value}}<br>
                        <b> Nation 2:</b> {{group.nation2Value}}<br>
                        <b> Info 2:</b> {{group.pinfo2Value}}<br>
                        <b> Anzahl der Aufenthalte 2:</b> {{group.aufenthalte2Value}}<br>
                        <b> Letzter Aufenthalt 2:</b> {{group.letzterAufenthalt2Value}}<br>
                        <b> Name 3:</b> {{group.name3Value}}<br>
                        <b> Name Frau 3:</b> {{group.nameFrau3Value}}<br>
                        <b> Nation 3:</b> {{group.nation3Value}}<br>
                        <b> Info 3:</b> {{group.pinfo3Value}}<br>
                        <b> Anzahl der Aufenthalte 3:</b> {{group.aufenthalte3Value}}<br>
                        <b> Letzter Aufenthalt 3:</b> {{group.letzterAufenthalt3Value}}<br>
                        <b> Name 4:</b> {{group.name4Value}}<br>
                        <b> Name Frau 4:</b> {{group.nameFrau4Value}}<br>
                        <b> Nation 4:</b> {{group.nation4Value}}<br>
                        <b> Info 4:</b> {{group.pinfo4Value}}<br>
                        <b> Anzahl der Aufenthalte 4:</b> {{group.aufenthalte4Value}}<br>
                        <b> Letzter Aufenthalt 4:</b> {{group.letzterAufenthalt4Value}}<br></div>
                      <li class="divider dropdown-divider" style="padding: 0 0 0 0"></li>
                    </div>
                    <div *ngIf="group.newInfoText">
                      <div class="dropdown-item"  style="background-color: #FFFFFF; border: solid 3px red">
                        <b> Zimmernummer: </b>{{group.newInfoRoomNumber}}<br>
                        <b> Neuer Info: </b>{{group.newInfoText}} <br>
                        <b> Tischnummer: </b>{{group.newInfoTableNumber}} <br>
                        <b> Mitarbeiter: </b>{{group.newInfoEmployee}} <br>
                        <b> Name: </b>{{group.newInfoName}} <br>
                        <b> Datum: </b>{{group.newInfoDate}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="showAlleBool">
        <br>
        <br>
        <br>
        <h1 style="color: white; margin-top: 200px">Perfekt um eine Suche zu starten ;-)</h1>
      </div>
    </div>
  </div>
</div>
